<div class="grid-container">
    <div class="grid-item item-1">
        <img src="http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcQzUzmCnT2wkrHAsr_YooFGg-LORQyNm3byMCGBajEe1ETkc3bWrR02bG_pv4-P4jj6YKtJwq0ScHx5KD0QWgAaX1PZ8fJ0F6mkwC9GRZg" alt="">
    </div>
    <div class="grid-item item-2">
        <span>Money To Give</span>
    </div>
    <div class="grid-item item-3">
        <span>Money To Receive</span>
    </div>
    <div class="grid-item item-4">
        <span>{{ memberById ? memberById.displayname : 'undefined' }}</span>
    </div>
    <div class="grid-item item-5">
        <span>{{ moneyToGive }}</span>
    </div>
    <div class="grid-item item-6">
        <span>{{ moneyToReceive }}</span>
    </div>
</div>

