.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    padding: 0;
    margin: 0;
    
    /* margin-bottom: 20px; */
    
}

::placeholder {
    /* color: var(--dark-orange-color); */
    color: #bbb;
    
}
button {
    padding: 10px 30px;
    background-color: var(--orange-color);
    color: #000;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}
input[type=email], input[type=password], input[type=text] {
    width: 250px;
    padding: 10px 15px;
    background-color: #fff;
    color: var(--orange-color);
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 10px;
    font-weight: bold;
    
}
input[type=email]:focus, input[type=password]:focus, input[type=text]:focus {
    box-shadow: 3px 3px 5px var(--green-color);
}

.wrapper {
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
}
.input-text {
    margin-top: 20px;
}
button:hover {
    background-color: #000;
    color: var(--orange-color)
}
button:active {
    transform: scale(0.9);
}
h1 {
    color: var(--orange-color);
}
.error-message {
    color: red;
    font-size: 0.8rem;
}
a {
    color: var(--orange-color)
}

