h1 {
    margin-bottom: 20px;
}
input[type=text]{
    width: 400px;
    padding: 13px 40px;
    border: 2px solid var(--orange-color);
    outline: none;
    border-radius: 15px;
    margin-top: 20px;
    color: var(--orange-color);
    font-weight: bold;
}
input[type=text]:focus {
    box-shadow: 2px 2px 4px #333333;
}
::placeholder {
    color: var(--light-orange-color);
    opacity: 1;
    font-weight: bold;
}

.search-input-container {
    position: relative;
}

.icon {
    position: absolute;
    right: 12px;
    top: 30px;
    cursor: pointer;
    color: var(--orange-color);



}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.users-container {
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.create-btn-container {
    
    display: flex;
    justify-content: end;
    margin-bottom: 50px;
    /* position: relative; */
    right: 20%;
    align-self: flex-end;
    margin-top: 20px;
    
    

}
.create-btn {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--orange-color);
    color: var(--light-orange-color);
    margin-left: 20px;
    border: none;
    outline: none;
    
    
    
}
.cancel-btn {
    background-color: var(--bg-color);
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid var(--orange-color);
    color: var(--orange-color);
    outline: none;
    

}
button {
    transition: all 0.2s ease;
}
button:hover {
    box-shadow: 2px 2px 4px #333333;
}
button:active {
    transform: scale(1.2);
}