<div class="wrapper">
    <app-menu></app-menu>
    <div class="container">
        <div class="home-link" [routerLink]="'/' + userId + '/home'"><i class="fa-solid fa-arrow-left"></i></div>
        <div class="center">
            <h1>Transfer History</h1>
            <div class="date-picker-container">
                 <input type="date" name="selectedDate" id="selectedDate" [(ngModel)]="selectedDate"  (change)="onDateChange()">
            </div>
            <div class="history-container" *ngIf="!isDateSelected">
                <div *ngFor="let transferHistory of transferHistoriesOfTheUser">
                    <app-all-history [transferHistory]="transferHistory" [selectedDate]="selectedDate" [isDateSelected]="isDateSelected"></app-all-history>
                    
                </div>
                
                
                
            </div>
            <div class="history-container" *ngIf="isDateSelected">
                <div *ngFor="let transferHistory of transferHistoriesByDate">
                    <app-all-history [transferHistory]="transferHistory" [selectedDate]="selectedDate" [isDateSelected]="isDateSelected"></app-all-history>
                    
                </div>
                
                
                
            </div>
            <div *ngIf="isDateSelected && transferHistoriesByDate.length === 0">
                <p>No transfer history for {{ selectedDate }}.</p>
            </div> 
        </div>
    </div>
</div>

